@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans";
}

/* Shaerd styles */



/* colors */

.dark-02{
    color: #424242;
}

.dark-03{
    color: #727272;
}

.flex{
    display: flex;
}

.description{
    font-size: 16px;
    color: #727272;
    padding: 24px 0px;
}
.btn{
    background-color: #FF900E;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

::-webkit-scrollbar{
    display: none;
}

/* header */
header{
    background-color: rgba(255, 144, 14, 0.1);
}

/* Navbar */


.navbar{
    justify-content: space-between;
}

.nav-title, .nav-links{
    margin: 0 auto;
}

.nav-title{
    font-size: 3rem;
    font-weight: bold;
    padding-top: 10px;
}

.nav-links{
    padding-top: 30px;
}
.nav-list{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-size: 500;
    margin-right: 30px;
}

/* banner */

.banner{
    text-align: center;
    max-width: 860px;
    margin: 50px auto;
}
.banner-title{
    font-size: 4rem;
}

.banner-img{
    max-width: 1140px;
    margin: 0 auto;
}

.banner-image{
    width: 100%;
    margin-bottom: 20px;
}


/* grid image section */


.container{
    justify-content: space-between;
    align-items: center;
    margin: 120px auto;
    max-width: 1140px;
}

.team-work-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding-right: 70px;
}
.team-work-image{
    width: 342px;
    height: 342px;
}

.team-work-detail{
    max-width: 537px;
}

.team-work-detail-header{
    font-size: 45px;
    font-weight: 500;
}
.second-part{
    font-weight: bold;
    color: #131313;
}
.third-part{
    font-weight: bold;
    color: #FF900E;
}






/* header media */

@media screen and (max-width: 576px) {
    /* navbar section start */
    .navbar{
        flex-wrap: wrap;
    }
    .nav-links{
        padding-top: 20px;
    }
    .nav-link{
        font-size: 14px;
        font-size: 500;
        margin: 0 15px;
    }
    .nav-title, .banner-title{
        font-size: 2rem;
    }
    .description{
        font-size: 14px;
    }

    /* navbar section end */
}
