@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans";
}

/* Shaerd styles */



/* colors */

.dark-02{
    color: #424242;
}

.dark-03{
    color: #727272;
}

.flex{
    display: flex;
}

.description{
    font-size: 16px;
    color: #727272;
    padding: 24px 0px;
}
.btn{
    background-color: #FF900E;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
}

::-webkit-scrollbar{
    display: none;
}

/* header */
header{
    background-color: rgba(255, 144, 14, 0.1);
}

/* Navbar */


.navbar{
    justify-content: space-between;
}

.nav-title, .nav-links{
    margin: 0 auto;
}

.nav-title{
    font-size: 3rem;
    font-weight: bold;
    padding-top: 10px;
}

.nav-links{
    padding-top: 30px;
}
.nav-list{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 30px;
}

/* banner */

.banner{
    text-align: center;
    max-width: 860px;
    margin: 50px auto;
}
.banner-title{
    font-size: 4rem;
}

.banner-img{
    max-width: 1140px;
    margin: 0 auto;
}

.banner-image{
    width: 100%;
    margin-bottom: 20px;
}


/* grid image section */


.container{
    justify-content: space-between;
    align-items: center;
    margin: 120px auto;
    max-width: 1140px;
}

.team-work-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding-right: 70px;
}
.team-work-image{
    width: 342px;
    height: 342px;
}

.team-work-detail{
    max-width: 537px;
}

.team-work-detail-header{
    font-size: 2.8rem;
    font-weight: 500;
}
.second-part{
    font-weight: bold;
    color: #131313;
}
.third-part{
    font-weight: bold;
    color: #FF900E;
}


/* feature section */




.feature-container{
    max-width: 1140px;
    align-items: center;
    margin: 0 auto;
    gap: 100px;
}


hr{
    width: 8px;
    height: 100px;
    border: none;
    background-color: #FF900E;
}

.feature-header{
    gap: 20px;
    max-width: 460px;
}

.feature-heading{
    font-size: 2.8rem;
    font-weight: bold;
    max-width: 454px;
}

.feature-head-description{
    max-width: 586px;
}

.feature-containers{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
    max-width: 586px;
}
.feature-container-mini{
    max-width: 514px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.feature-container-inside{
    padding: 30px 0;
}



.feature-description{

    max-width: 543px;
}

.feature-img{
    width: 100%;
}

.primary-btn{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 35px 33px;
    margin-left: -100px;
    margin-top: -100px;
}

.experience-year{
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
}
.experience{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

/* fact section start */

.fact-container{
    margin: 130px auto;
    max-width: 1140px;
}

.fact-header{
    font-size: 2.8rem;
}
.fact-description{
    max-width: 540px;
}

.fact-badges-container{
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 100px;
}

.fact-badges-box-main{
    width: 240px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #FF900E;
}

.fact-badges-box-inside{
    margin: 52px 35px;
    border: 1px solid #fff;
}

.fact-badges-img{
    padding-bottom: 10px;
}

.fact-badges-num{
    font-size: 2.8rem;
    font-weight: 600;
    padding-bottom: 5px;
}

.fact-badges-title{
    font-size: 1.25rem;
    font-weight: 600;
}

/* sponsor section */

.sponsors{
    max-width: 542px;
    margin: 0px auto;
    margin-top: 130px;
}

.sponsor-header{
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    gap: 24px;
}

.sopnsor-description{
    max-width: 542px;
    text-align: center;
}

.sponsors-images{
    justify-content: space-around;
    margin-top: 50px;
}

.sponsors-img{
    width: 100px;
}










/* media */
@media screen and (max-width: 576px) {
    /* navbar section start */
    .navbar{
        flex-wrap: wrap;
    }
    .nav-links{
        padding-top: 20px;
    }
    .nav-link{
        font-size: 14px;
        font-size: 500;
        margin: 0 15px;
    }
    .nav-title, .banner-title{
        font-size: 2rem;
    }
    .description{
        font-size: 14px;
    }
    .banner-img{
        margin: 0 10px;
    }

    /* navbar section end */

    /* team section */

    .container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .team-work-images{
        grid-template-columns: repeat(1,1fr);
        padding-right: 0;
    }
    .team-work-detail{
        margin-top: 50px;
        text-align: center;
    }
    .team-work-detail-header{
        font-size: 35px;
    }
    /* team section end */

    /* feature section start */
    .feature-container{
        flex-direction: column;
    }
    .feature-container-mini{
        margin-top: 20px;
    }
    .feature-container-subtitle{
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }
    hr{
        height: 80px;
    }
    .feature-heading{
        font-size: 2rem;
    }
    .feature-head-description{
        text-align: center;
    }
    .feature-description{
        padding: 20px;
    }
    .feature-image{
        margin: 0 10px;
    }
    .experience-year{
        font-size: 2rem;
    }
    .experience{
        font-size: 1rem;
    }
    .primary-btn{
        padding: 12px 10px;
        margin-top: 20px;
        margin-left: 90px;
    }
    /* feature section end */

    /* fact section start */
    .fact-detail{
        margin-left: 20px;
    }
    .break{
        display: none;
    }
    .fact-badges-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

}
